@import "tailwindcss";

@font-face {
  font-family: "Montserrat";
  src: url("../../public/fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Red Hat Mono";
  src: url("../../public/fonts/RedHatMono-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Red Hat Display";
  src: url("../../public/fonts/RedHatDisplay-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Orbitron";
  src: url("../../public/fonts/Orbitron-VariableFont_wght.ttf")
    format("truetype");
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Red Hat Display", Arial, Helvetica, sans-serif;
}
